div{
    background-color: azure;
    height: 550px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8px;
    
}
.div{
    background-color: blue;
    height: 300px;
    width: 280px;
    border-radius: 20%;
    
}
body{
    background-color: aquamarine;
    padding-bottom: 50px;
}
#div{
    margin-bottom: 50px;
}